<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%15.15t] %cyan(%-40.40logger{39}) : %m%n%ex</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Set log levels -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Quieter logging for Spring and Hibernate -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="io.grpc.netty" level="INFO"/>

    <!-- Set your application's specific log level -->
    <logger name="br.com.danilors.country_server" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
